/*----------Página Inicial----------*/
:root {
  --blue: #0b57b7;
  --light: #f6f8fb;
  --muted: #6c7a89;
  --card: #ffffff;
  --accent: #e6f1ff;
  --panel: #f0f6ff;
  --rounded: 14px;
  --gap: 18px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

* {
  box-sizing: border-box
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(180deg, var(--light), #fff);
  color: #113;
  display: flex;
  flex-direction: column;
}

main{
flex: 1;
}

/*  Cabeçalho   */
header {
  background: var(--blue);
  color: #fff;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 16px
}

header .logo {
  font-weight: 700;
  background: #052f73;
  padding: 8px 12px;
  border-radius: 6px
}

header .banner{
  font-weight: 600;
}

header nav {
  margin-left: auto;
  color: #dbe8ff;
  font-size: 14px
}

.container {
  max-width: 80%;
  margin: 22px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 20px
}

/*---Coluna Esquerda---*/
.left {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px
}

.card {
  background: var(--card);
  border-radius: 12px;
  border: 1px solid rgba(16, 24, 40, 0.06);
  box-shadow: 0 6px 18px rgba(12, 30, 60, 0.04)
}

.card h3 {
  color: #0b2b48;
  padding-left: 10px;
  padding-right: 10px;
}

.muted {
  color: var(--muted);
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

#titulo{ text-align: center; }

/* Chat */
.chat {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chat p.muted { margin-top: 0; }

.msg-preview{
  padding: 10px 10px 10px 10px;
  border: 1px solid #e6ecf4;
  overflow: hidden;
  height: 150px;
  position: relative;
}

.msg-list {
  display: flex;
  flex-direction: column;
  animation: scrollLoop 18s linear infinite;
  will-change: transform;
}

.msg{
  display: flex;
  align-items: center;
  background: #f6f8fb;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid #e6ecf4;
  font-size: 13px;
  margin-bottom: 8px;
}

@keyframes scrollLoop {
0% {transform: translateY(0);}
100% {transform: translateY(-50%);}
}

.msg .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #d9e1ec;
  margin-right: 1%;
}

.actions {
  display: flex;
  gap: 10px;
}

.btn{
  background: var(--blue);
  color: #fff;
  padding: 9px 12px;
  border-radius: 10px;
  text-decoration: none; 
  border: none;
  cursor: pointer;
  font-size: 12px;
  margin-top: 10px;
  transition: transform 0.2s ease, background 0.2s ease;
  display: inline-block;
}

.btn-ghost{
  background:transparent;
  border:1px solid #dbe6f7;
  padding:9px 12px;
  border-radius:10px;
  cursor:pointer;
  transition: transform 0.2s ease, background 0.2s ease;
}

.btn:hover, .ver-btn:hover{
background: #083c82;
transform: scale(1.05);
}

.btn-ghost:hover {
background: #0b57b7; 
color: #fff;
transform: scale(1.05);
}

.feedback{
  margin-left: 10px;
}

/*---Coluna Direita---*/
.right {
  display: flex;
  flex-direction: column;
  gap: 12px
}

.right .muted{
  padding-left: 0px;
  padding-top: 5px;
}

#titulo-direito{
  display:flex;
  align-items:center;
  justify-content:"space-between";
  font-size: 16px;
  padding-left: 5%;
}

.linhas-bus{
  margin-top:12px;
  display:flex;
  flex-direction:column;
  gap:8px;
}

.ver-btn {
background: #0b57b7;
color: white;
padding: 8px 12px;
border-radius: 8px;
text-decoration: none;
font-weight: 600;
font-size: 13px;
transition: background 0.2s;
margin-left: 5%;
}

.ver-btn:hover {
background: #083c82;
}

.route-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 14px;
  border-radius: 12px;
  background: linear-gradient(90deg, #fff, #f7fbff);
  border: 1px solid rgba(11, 87, 183, 0.09);
  cursor: pointer;
  transition: all 0.25s ease;
}

.route-btn:hover {
background: #e8f1ff;
transform: scale(1.02);
box-shadow: 0 4px 10px rgba(11, 87, 183, 0.3);
}

.bus {
  background: var(--panel);
  padding: 8px;
  border-radius: 8px;
  font-size: 25px;
  font-weight: 600
}

@keyframes flashBlue {
0% {
  color: inherit;
  text-shadow: none;
}
50% {
  color: #2563eb;
  text-shadow: 0 0 8px rgba(37,99,235,0.6);
}
100% {
  color: inherit;
  text-shadow: none;
}
}

.flash {
animation: flashBlue 5s ease-in-out 1;
}

/* Campo de Pesquisa */
.search {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.search input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dbe6f7
}

.help-list {
  display: flex;
  flex-direction: column;
  gap: 6px
}

.help-item {
  background: #eef6ff;
  border-radius: 999px;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #dceffc;
  cursor: pointer;
  transition: background 0.3s ease;
}

.help-item:hover {
  background: #d1d5db;
}

input#q {
transition: all 0.3s ease;
outline: none;
}

input#q:focus {
border-color: #3b82f6; /* azul */
box-shadow: 0 0 8px rgba(59,130,246,0.4);
transform: scale(1.02);
}

/* Painel de notícias */
.sem-avisos img {
width: 50%;
opacity: 0.9;
margin-top: 0px;
border-radius: 50%;
display: block;
}

.aviso {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.aviso .item {
  background: #eef6ff;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  flex-direction: column; 
}

.aviso p{
  margin-bottom: 2%;
}

.aviso .emonji{
  font-size: 20px;
  animation: pulse 1s ease-in-out infinite;
}


@keyframes pulse {
0%, 100% {
  text-shadow: 0 0 3px #ff6600, 0 0 8px #ffcc00;
}
50% {
  text-shadow: 0 0 6px #ff3300, 0 0 16px #ffff00;
}
}

.atalho{
  display:flex;
  gap:8px;
  flex-wrap:wrap;
  margin-top:8px
}

/*  Rodapé   */
footer {
  text-align: center;
  background: var(--blue);
  padding: 12px 20px;
  color: var(--card);
  font-size: 14px;
}

@media (max-width:980px) {
  .container {
      grid-template-columns: 1fr;
      padding: 12px
  }

  .right {
      order: 2
  }
}


/*----------Presidente Vargas----------*/
.btn-voltar {
  display: inline-block;
  background-color: #1e40af;
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-voltar:hover {
  transform: scale(1.1);
  background-color: #2563eb;
}

.container2 {
  width: 80%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.route-info {
  text-align: center;
  margin-bottom: 20px;
}

.route-info h2 { margin-bottom: 4px; }

.route-info p { margin-top: 0; }

/* Mapa de navegação */
.map-section {
  width: 100%;
  margin-bottom: 30px;
}

.map-box iframe {
  width: 100%;
  height: 450px;
  border: 0;
  border-radius: 10px;
}

.map-section .search{
    flex-direction: row;
    margin-top: 2%;
    height: 42px;
}

.map-section .search input, .map-section .search .btn {
  height: 35px;
  border-radius: 10px;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 0;
}

.map-section .search input{ flex: 4; }
.map-section .search .btn{ flex: 1; }

/* Blocos em Coluna*/
.info-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.card h4, .card h4 {
  margin: 0;
}

.card {
  flex: 1;
  background: #f9fafb;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.card .dados {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background: #f3f4f6;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card .dados p {
  margin: 0;
  flex: 1;
}

.saidas-blocos, .pontos-blocos {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.saidas, .pontos {
  flex: 1;
  font-size: 15px;
}

.saidas h5, .pontos h5 {
  margin-bottom: 5px;
  margin-top: 10px;
}

.saidas ul, .pontos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.saidas li, .pontos li {
  padding: 4px 0;
}

@media (max-width: 768px) {
  .info-section {
    flex-direction: column;
  }
}

/*---------- Simulador de Rotas----------*/
.map-section2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 15px;
  min-height: calc(100vh - 200px);
  margin-bottom: 20px;
}

.map-section2 p, .map-section2 .help-item{
  font-size: 12px;
}

.left-panel, .right-panel {
  width: 22%;
  background: var(--light-gray);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.map-container {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

#map, #map2{
  width: 100%;
  height: 100%;
  min-height: 450px;
  border-radius: 12px;
  z-index: 0;
}

select, input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 12px;
  outline: none;
}

.info-box {
  background: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.saved-lines ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.saved-lines li {
  background: #fff;
  padding: 6px 8px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  font-size: 13px;
  margin-bottom: 5px;
  text-align: center;
}

.apps-btns button {
  width: 48%;
  border: none;
  padding: 8px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.apps-btns .uber { background: black; }
.apps-btns .nove { background: #ffcc00; color: black; }

.titulo-h5{
  margin-top: 0;
}

/*---------- Grade de Horários----------*/
.container3 {
  display: flex;
  overflow: hidden;
  width: 80%;
  height: 100%;
  margin: 22px auto;
  gap: 10px;
}

.coluna {
  width: 50%;
  padding: 10px;
  background-color: #f5f7ff;
  padding-left: 10px;
  border-width: 4px;
  border-style: solid;
  border-color: #3b83f697;
  height: 90%;
  overflow-y: auto;
  box-sizing: border-box;
  scrollbar-width: thin;
}

#map2{
  border-style: solid;
  border-color: #39404b80;
  height: 90%;
}

.coluna h3 {
  color: rgb(7, 77, 241);
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.coluna p{
  font-size: 14px;
  margin-top: 10px;
}

.coluna ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.coluna li {
  background: white;
  margin: 6px 0;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
}

li:hover {
  background: #dce3ff;
}

.info-box {
  background: white;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
}

/*----------Contato----------*/
.caixa {
  display: flex;
  background: #d8e0ff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  height: 700px;
}

.coluna-esquerda, .coluna-direita {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.coluna-esquerda { flex: 1}
.coluna-direita { flex: 2}

.avatar-esq {
  width: 80px;
  height: 80px;
  margin-top: 50px;
}

.balao {
  background: white;
  border-radius: 12px;
  padding: 10px;
  font-size: 14px;
  max-width: 220px;
  text-align: center;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.descricao {
  font-size: 13px;
  text-align: center;
  color: #222;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 20px 5px 20px;
}

.formulario {
  background: #e5e9f2;
  border-radius: 12px;
  padding: 10px;
  width: 90%;
  text-align: center;
  margin-top: 20px;
}

.formulario h4 {
  font-size: 13px;
  color: #333;
  margin-bottom: 10px;
}

.formulario input {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background: #dcdcdc;
}

.formulario button {
  background: #0056d2;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.formulario button:hover {
  background: #0041a8;
}

.coluna-direita {
  background: #4a75d3;
  border-radius: 12px;
  padding: 15px;
  justify-content: space-between;
}

.mensagem-automatica {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: auto;
  gap: 10px;
}

.avatar-dir {
  width: 70px;
  height: 70px;
}

.fala {
  background: white;
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 13px;
  max-width: 300px;
  margin-top: 10px;
}

#chat-area {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: #4a75d3;
  border-radius: 12px;
  min-height: 300px;
}

.msg-usuario {
  align-self: flex-start;
  background: #92dffb;
  color: #222;
  padding: 8px 10px;
  border-radius: 8px;
  max-width: 70%;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.msg-bot {
  align-self: flex-end;
  background: #e6ecff;
  padding: 8px 10px;
  border-radius: 8px;
  max-width: 70%;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.campo-msg {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
}

.msg-usuario, .msg-bot {
  font-size: 13px;
  padding: 6px 8px;
  max-width: 60%;
  border-radius: 8px;
}

#chat-form {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 6px;
}

.btn-enviar {
  padding: 10px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  height: 80%;
  aspect-ratio: 1 / 1;
  margin-right: 1%;
}

.btn-enviar:hover {
  background: #003f9e;
}

/*---------Bot---------*/
.faq {
  background: #e5e9f2;
  border-radius: 12px;
  padding: 15px;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  margin-top: 20px;
}

.faq h4 {
  font-size: 14px;
  color: #222;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 0;
}

.faq-btn {
  display: block;
  width: 100%;
  background: #cbe1f9;
  border: none;
  border-radius: 20px;
  padding: 8px;
  margin: 5px 0;
  cursor: pointer;
  color: #021a41;
  font-weight: 500;
  font-size: 13px;
  transition: background 0.2s;
}

.faq-btn:hover {
  background: #b8d4f3;
}

/*----------Chat Online-----------*/
.container4 {
  display: flex;
  background: #e5e9f2;
  color: #000;
  margin: 0 20px;
  border-radius: 5px;
  max-width: 90%;
  margin: 22px auto;
  gap: 20px;
  height: 600px;
}

.coluna-esq, .coluna-dir {
  width: 20%;
  background: #103daecd;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.coluna-esq h2, .coluna-esq h3 {
  text-align: center;
}

.ranking{
  margin-top: 60px;
  margin-bottom: 20px;
}

.ranking .pessoa {
  display: flex;
  align-items: center;
  background: #daf0f5;
  margin: 5px 0;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5%;
  color: #000000c5;
  gap: 10px;
}

.pessoa img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.pessoa .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
}

.contribuicao {
  background: #36acd3;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  padding: 5px;
}

.contribuicao h3{ margin-bottom: 0;}

.pontuacao{ margin-bottom: 10px; }

.chat2 {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #f1f1f1;
  border-radius: 5px;
  max-height: 580px;
  overflow-y: auto;
  overflow-x: hidden;
}

.mensagem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.foto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 1%;
}

.balao {
  background: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
}

.curtir {
  border: none;
  background: #e0e0e0;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s ease;
  height: 60%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.curtir:hover {
  background: #d0d0d0;
  transform: scale(1.1);
}

.curtir.curtido {
  background: #007bff;
  color: white;
  transform: scale(1.05);
}

.btn-curtir {
  background: #d8d8d8;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 14px;
  height: 32px;
  width: 80px;
  box-sizing: border-box;
}

#mapa {
  height: 150px;
  width: 250px;
  border-radius: 8px;
}

.mapa-msg .botoes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mapa-msg {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mensagem.mapa-msg {
  display: flex !important;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
}

.mensagem {
  animation: aparecer 0.4s ease;
}

@keyframes aparecer {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

.botoes {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

#chat-form {
  display: flex;
  background: white;
  border-radius: 5px;
  margin-top: auto;
  gap: 10px
}

#chat-form input {
  border: none;
  flex: 1;
  padding: 8px;
  border-radius: 5px;
}

.chat2 .mensagem {
  display: flex;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.coluna-dir{ 
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.coluna-dir p{ 
  font-size: 12px;
  color: #efd5d5;
}

.coluna-dir h3{
  margin-top: 60px;
}

.btn-localizacao {
  display: block;
  width: 100%;
  background-color: #fafbfd;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 0;
  transition: background 0.3s, transform 0.2s;
  color: #000000;
}

.btn-localizacao:hover {
  background-color: #f2fe6d;
  transform: scale(1.03);
}

.mapa-pequeno {
  height: 150px;
  width: 250px;
  border-radius: 8px;
}

.reacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.reacoes button {
  border: none;
  border-radius: 8px;
  padding: 10px;
  background: white;
  cursor: pointer;
}

.video-msg {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width:70%;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.video-pequeno {
  width: 300px;
  height: 200px;
  border-radius: 6px;
  object-fit: cover;
}

.video-msg .botoes {
  display: flex;
  gap: 6px;
  margin-top: 8px;
}
